:root {
  --color-base-background: #f8f8ff;
  --color-base-background-lighter: #9a9aaf;
  --color-base-text: #303032;
  --color-base-text-lighter: rgb(160, 160, 179);
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #9a9aaf;
  --color-primary-text: #5c5c79;
}
